



{% load crispy_forms_tags %}  


{% comment %} {% block content %} {% endcomment %}
<div class="container">
  <div class="row">
    <div class="col-md-6"> 
      <h2>Create Expense</h2>
      
      
      <style>

        body {
          background-image: url('');
          padding: 0;
          font-family: Arial, sans-serif;
          margin: 0;
          color: bisque;
      }
      
      .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 40px; /* Increased padding to add space around the form */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        color: #333; /* Text color for better contrast */
        text-align: center; /* Center content */
    }
    
      
      form {
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          text-align: center;
      }
      
      label {
          display: block;
          margin-bottom: 10px;
      }
      
      input[type="text"],
      input[type="number"] {
          width: 100%;
          padding: 8px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
      }
      
      button {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          border-radius: 5px;
          transition: background-color 0.3s ease;
      }
      
      button:hover {
          background-color: #0056b3;
      }
      
      input[type="submit"]:hover {
          background-color: #45a049;
      }

      /* Button styles */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

  
      </style>
      
      
      <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form|crispy }}
        
        
        <div class="text-center">
          
         <input type = "submit" value ="Add" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0"> 
       </div> 
      </form>
      
    </div> 
  </div>

  {% comment %} {% endblock content %} {% endcomment %}
</div>


