body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    background-image: url("https://www.bing.com/ck/a?!&&p=08e333c34514a3faJmltdHM9MTcwODU2MDAwMCZpZ3VpZD0xOTQ2MTgyYi1iNWFkLTZhNTctMDg1Yi0wODg5YjQzNjZiMTUmaW5zaWQ9NTY4Mg&ptn=3&ver=2&hsh=3&fclid=1946182b-b5ad-6a57-085b-0889b4366b15&u=a1L2ltYWdlcy9zZWFyY2g_cT1kYXJrIGJhY2tncm91bmQmRk9STT1JUUZSQkEmaWQ9Q0FFM0M5QUU3QkU0MTI5NkYwMUMxN0ZBMTZDNDAwNjBGOTdBNjYyQg&ntb=1");
    background-color:black #f2f2f2; /* Change to the desired color */
    background-color: #340f0f; /* Change to the desired color */
    padding: 20px; /* Add padding to improve appearance */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
}


.social-link {
    display: inline-block;
    width: 40px; /* Adjust the width of the icon */
    height: 40px; /* Adjust the height of the icon */
    background-color: #ccc; /* Default background color */
    border-radius: 50%; /* Make the icon circular */
    text-align: center;
    line-height: 40px; /* Center the icon vertically */
    margin-right: 10px; /* Adjust the spacing between icons */
}

/* Custom background color for Facebook */
.social-facebook {
    background-color: #3b5998; /* Facebook blue */
}

/* Custom background color for Instagram */
.social-instagram {
    background-color: #c13584; /* Instagram pink */
}

/* Custom background color for Twitter */
.social-twitter {
    background-color: #1da1f2; /* Twitter blue */
}

/* Customize icon color and size */
.social-link i {
    color: #fff; /* Icon color */
    font-size: 24px; /* Icon size */
}

.custom-link {
    color: lightgray;
}