<!-- myapp/templates/profile.html -->
{% extends 'base.html' %}

{% block content %}
    

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {% csrf_token %}
    {% if user.Profile%}
    
        
    {% endif %}
        
</head>
<body>
    <h2>User Profile</h2>
    {% if context %}
    <p>Username: {{ context.username }}</p>
    <p>Email: {{ context.email }}</p>
    <p>Fristname: {{ context.Firstname }}</p>
    <p>Lastname: {{ context.Lastname }}</p>
    {% else %}
        <p>No profile found.</p>
    {% endif %}
</body>
</html>
{% endblock content %}
